/* reseto de css */
* {
  margin: 0;
  padding: 0; }

/* realizo una seleccion general en el body con un color general que me afecta a todo */
body {
  background-color: rgba(235, 17, 90, 0.199); }

/* Le doy formato al titulo de la hoja index */
.tituloPagina1 {
  width: 1200px;
  height: 0px;
  padding: 80px;
  margin: 0px; }

/* Le doy forma al titulo dentro de la pagina */
.seccion1 {
  width: 650px;
  height: 670px;
  padding: 16px;
  margin: 20px;
  overflow: hidden;
  border: double;
  background-color: violet; }

/* estas son las imagenes de las redes sociales que pongo al lado de la otra caja */
.imagenesAsideIndex {
  width: 100px;
  height: 500px;
  padding: 50px;
  margin: 100px;
  overflow: hidden; }

/* Pongo en linea la section y el aside */
section, aside {
  display: inline-block; }

/* Lo posiciono al logo para que quede fijo igual que la lista */
.logo {
  position: fixed;
  top: 0px; }

/* Le doy formato a la lista del nav dandole paddig- width- margin- border-position- */
.lista {
  list-style: none;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background: violet;
  width: auto;
  margin-top: 0px;
  margin-left: 65px;
  margin-bottom: 5px;
  margin-right: 0px;
  border: solid 1px black;
  position: fixed;
  top: 0px; }

/* A las listas le doy por separado un formato */
.lista li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
  overflow: hidden; }

/* Alineo las listas en el nav para me quede una al lado de la otra */
.lista li {
  display: inline-block;
  text-align: center; }

/*  Le pongo un hover a la lista para que me de color cuando paso el mouse*/
.lista li a:hover {
  background: blue; }

/* Formato a sublistas */
.sublista {
  display: none;
  position: absolute;
  background-color: thistle;
  color: white; }

/* Le doy un formato a la sublista para que pueda mostrarse cuando pasa el cursor */
.inicio:hover > .sublista {
  display: grid; }
