@charset "UTF-8";
/* reseto de css */
* {
  margin: margin 0;
  padding: padding 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

/* realizo una seleccion general en el body con un color general que me afecta a todo */
body {
  background-color: rgba(233, 7, 83, 0.199); }

/* Le doy formato al titulo de la hoja index */
#titulo__pagina--h1 {
  height: 0px;
  padding: 80px;
  margin: 0px;
  background-color: #ff73ce;
  text-align: center; }

/* Le doy forma al titulo dentro de la pagina */
.seccion1 {
  width: auto;
  max-width: 1000px;
  height: 760px;
  padding: 16px;
  margin: 20px;
  overflow: hidden;
  border: double;
  background-color: violet; }

/* estas son las imagenes de las redes sociales que pongo al lado de la otra caja */
.esteEsUnSubtitulo {
  background-color: rgba(87, 7, 56, 0.178);
  color: rgba(161, 12, 12, 0.466);
  /* le agrego un font family a todas las etiquetas h2 */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* Le agrego un interlineado a los h2 */
  line-height: 1.6;
  /* Alineo el texto al centro */
  text-align-last: center; }

p {
  text-align: justify;
  text-decoration-style: solid;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

#index__parrafo--mayuscula {
  text-decoration: solid;
  text-transform: uppercase; }

#contenedor__grid--index {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-areas: "section"  "aside" "imagen"  "footer"; }

.seccion1 {
  grid-area: section; }

#imagenesAsideIndex {
  grid-area: aside;
  margin: auto;
  padding: 50px;
  background-color: #fce8e7f8; }

aside #imagenesAsideIndex:hover {
  filter: opacity(0.5); }

.imagenWatsapp {
  padding: 20px;
  margin: 30px; }

.imagenInstagram {
  padding: 20px;
  margin: 30px; }

.imagenZoom {
  padding: 20px;
  margin: 30px; }

.imagenFacebook {
  padding: 20px;
  margin: 30px; }

.footer__grid--index {
  grid-area: footer; }

/* Lo posiciono al logo para que quede fijo igual que la lista */
.logo {
  position: fixed;
  top: 0px; }

/* Le doy formato a la lista del nav dandole paddig- width- margin- border-position- */
.lista {
  list-style: none;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background: #a504a585;
  width: auto;
  margin-top: 0px;
  margin-left: 70px;
  margin-bottom: 5px;
  margin-right: 0px;
  position: fixed;
  width: 100%;
  top: 0px;
  /* A las listas le doy por separado un formato */ }
  .lista li {
    display: inline-block;
    text-align: center;
    /* Alineo las listas en el nav para me quede una al lado de la otra */ }
    .lista li a {
      text-decoration: none;
      color: white;
      padding: 20px;
      display: block;
      overflow: hidden; }

a:hover {
  background-color: blueviolet; }

/*  Le pongo un hover a la lista para que me de color cuando paso el mouse*/
/* Formato a sublistas */
.sublista {
  display: none;
  position: absolute;
  background-color: rgba(235, 0, 235, 0.767);
  color: white;
  padding: 0%; }

.sublista li {
  padding: 19px 0 20px 0;
  justify-content: left; }

/* Le doy un formato a la sublista para que pueda mostrarse cuando pasa el cursor */
.inicio:hover > .sublista {
  display: grid; }

/* footer de index */
.footerDeIndex {
  height: 140px;
  padding: 50px;
  margin: 10px;
  background-color: white;
  color: blueviolet;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  border-width: 20px;
  text-align: center; }

/* --------------SeccionNosotros--------------- */
#titulo__pagina--h1 {
  height: 0px;
  padding: 80px;
  margin: 0px;
  background-color: #ff73ce;
  text-align: center; }

.grid__template--areas {
  display: grid;
  grid-template-areas: "header" "section" "section" "section" "foto" "footer"; }

.header__nosotros--grid {
  grid-area: header; }

.section__nosotros--grid {
  margin-left: 140px;
  padding: 20px;
  grid-area: section; }

.imagenObjetivo:hover {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg); }

.imagenVisionMundo:hover {
  -webkit-transform: rotateY(280deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(280deg);
  transform-style: preserve-3d; }

.valores_foto:hover {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg); }

.foto__valores:hover {
  filter: grayscale(80%); }

.imagen__nosotros {
  grid-area: foto;
  text-align: center;
  background-color: violet; }

.footer__nosotros--grid {
  grid-area: footer; }

/* La lista está predeterminada por flexbox */
/* Este es el contenedor de grid o padre del div contenedor */
.contenedor {
  width: 70%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  padding: 10px;
  border-radius: 4px; }

#titulo__pagina--h1 {
  height: 0px;
  padding: 80px;
  margin: 0px;
  background-color: #ff73ce;
  text-align: center; }

/* Dentro del header un subtitulo que tambien le doy class para variar estilo */
.subtituloServicios {
  text-align: initial;
  padding: 20px;
  font-style: italic;
  text-decoration: none;
  color: #c90000; }

/* --------------------mainServicios------------------ */
/* Este el contenido del main y lo posiciono dentro de la caja*/
.contenido {
  grid-column: 2 / 4; }

/* Este es el parrafo dentro del contenido o main le doy formato y posiciono con grid */
.parrafoServicios {
  grid-column: auto;
  background-color: rgba(243, 0, 101, 0.226);
  color: #0611ad;
  justify-content: center;
  font-family: monospace;
  text-decoration-style: none; }

/* -------------------AsideServicios---------------- */
.sidebar {
  text-align: center;
  justify-content: center;
  grid-row: span;
  grid-column: 1 / 4; }

.subtituloDeTabla {
  background-color: rgba(204, 3, 160, 0.884);
  text-align-last: center;
  color: red; }

/* Imagenes */
.imagenServicios .imagen2Servicios .imagen3Servicios {
  height: 100px;
  text-align: center;
  align-items: center;
  justify-content: center; }

/* footer  */
.footerNosotros {
  padding: 20px;
  background-color: white;
  text-align: center;
  text-decoration-style: solid;
  grid-column: 4 / 1;
  grid-row: span 4; }

/* mediasQuery */
@media (min-width: 517px) and (max-width: 980px) {
  .bodyServicios {
    display: flex;
    flex-direction: column;
    background: #e60676; } }

/* DispositivoSmall */
@media (min-width: 351px) and (max-width: 516px) {
  main .contenido {
    display: flex;
    flex-direction: row;
    background: blue; }
  .padreGrid {
    display: flex;
    flex-direction: row; } }

/* DispositivoX5 */
@media (min-width: 0px) and (max-width: 350px) {
  .bodyServicios {
    display: flex;
    flex-direction: column;
    background: yellow; }
  .padreGrid {
    grid-template-columns: auto; }
  .headerServicios {
    flex-direction: column; }
  .contenido {
    flex-direction: column; } }

#titulo__pagina--h1 {
  height: 0px;
  padding: 80px;
  margin: 0px;
  background-color: #ff73ce;
  text-align: center; }

/* este es el head */
.contenedorEspecialistas {
  height: 1fr;
  padding: 70px;
  margin: 30px;
  overflow: hidden;
  border: double;
  background-color: violet; }

.acordeon {
  color: blueviolet; }

.section__boostrap--especialistas {
  background-color: #FD3D5E;
  margin-top: auto;
  height: auto;
  max-width: 1000px;
  padding: 30px;
  margin-left: 190px; }

* {
  padding: 0;
  box-sizing: border-box; }

.form__turnos--inicio {
  width: 500px;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  border-radius: 4px;
  background-color: #c500c5;
  text-transform: uppercase; }

.subtitulo__h2--turnos {
  text-align: center;
  background-color: white;
  color: tomato; }

.controles {
  background-color: white;
  color: #520052;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: block; }
