/* este es el head */
.contenedorEspecialistas{
    
    height: 1fr;
    padding: 70px;
    margin: 30px;
    overflow: hidden;
    border:double;
    background-color: violet;
    }
    
    .acordeon{
    color: blueviolet;
    }
    
    .section__boostrap--especialistas{
        background-color: aqua;
        margin-top: auto;
        height: auto;
        width: 70%;
        max-width: 1000px;
        padding: 30px;
        margin-left: 120px;
    }
    
