#titulo__pagina--h1{
    height: 0px;
    padding: 80px;
    margin: 0px;
    background-color: #ff73ce;
    text-align: center;
}


/* este es el head */
.contenedorEspecialistas{
    
    height: 1fr;
    padding: 70px;
    margin: 30px;
    overflow: hidden;
    border:double;
    background-color: violet;
    }
    
    .acordeon{
    color: blueviolet;
    }
    
    .section__boostrap--especialistas{
        background-color: #FD3D5E;
        margin-top: auto;
        height: auto;
        max-width: 1000px;
        padding: 30px;
        margin-left: 190px;
    }
    
