/* footer de index */
.footerDeIndex{
    height: 140px;
    padding: 50px;
    margin: 10px;
    background-color:white; 
    color:blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    border-width: 20px;
    text-align: center;
}
