/* reseto de css */
* {
    margin: 0;
    padding: 0;
    
}
/* realizo una seleccion general en el body con un color general que me afecta a todo */
body{
    background-color: rgba(235, 17, 90, 0.199);

/* Le doy formato al titulo de la hoja index */
    .tituloPagina1{
    width: 1200px;
    height: 0px;
    padding: 80px;
    margin: 0px;}

/* Le doy forma al titulo dentro de la pagina */
    .seccion1{
    width: 650px;
    height: 670px;
    padding: 16px;
    margin: 20px;
    overflow: hidden;
    border:double;
    background-color: violet;
    
    /* estas son las imagenes de las redes sociales que pongo al lado de la otra caja */
    .imagenesAsideIndex{
        width: 100px;
        height: 500px;
        padding: 50px;
        margin: 100px;
        overflow: hidden;   
    
    /* Pongo en linea la section y el aside */
    section, aside{
        display:inline-block;
    }}}