/* reseto de css */
* {
    margin: $reseteomargin;
    padding: $reseteopadding;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}
/* realizo una seleccion general en el body con un color general que me afecta a todo */
body{
    background-color: $backgroundcolor;
}

/* Le doy formato al titulo de la hoja index */
    #titulo__pagina--h1{
    height: 0px;
    padding: 80px;
    margin: 0px;
    background-color: #ff73ce;
    text-align: center;
}

/* Le doy forma al titulo dentro de la pagina */
    .seccion1{
    width: auto;
    max-width: 1000px;
    height: 760px;
    padding: 16px;
    margin: 20px;
    overflow: hidden;
    border:double;
    background-color: violet;
    }
    /* estas son las imagenes de las redes sociales que pongo al lado de la otra caja */
  

    .esteEsUnSubtitulo {
        background-color: rgba(87, 7, 56, 0.178);
        color: rgba(161, 12, 12, 0.466);
        /* le agrego un font family a todas las etiquetas h2 */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        /* Le agrego un interlineado a los h2 */
        line-height: 1.6;
        /* Alineo el texto al centro */
        text-align-last: center;
    }
    p{
        text-align: justify;
        text-decoration-style: solid;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    #index__parrafo--mayuscula{
        text-decoration:solid; 
        text-transform: uppercase;
    }

#contenedor__grid--index{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-areas: 
    "section" 
    "aside"
    "imagen" 
    "footer"
    ;
}
.seccion1{
    grid-area: section;
}
#imagenesAsideIndex{
    grid-area: aside;
    margin: auto;
    padding: 50px;
    background-color:#fce8e7f8;
}
aside #imagenesAsideIndex:hover{filter: opacity(.5);}

.imagenWatsapp{
    padding: 20px;
    margin: 30px;
}
.imagenInstagram{
    padding: 20px;
    margin: 30px;
}
.imagenZoom{
    padding: 20px;
    margin: 30px;
}
.imagenFacebook {
    padding: 20px;
    margin: 30px;
}

.footer__grid--index{
    grid-area: footer;
}
