/* Lo posiciono al logo para que quede fijo igual que la lista */
.logo{
    position: fixed;
    top: 0px;
}
/* Le doy formato a la lista del nav dandole paddig- width- margin- border-position- */
.lista{
    list-style: none;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background: #a504a585;
    width: auto;
    margin-top: 0px;
    margin-left: 70px;
    margin-bottom: 5px;
    margin-right: 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    justify-content:space-evenly;
    display: flex;


    /* A las listas le doy por separado un formato */

    li {
        display: inline-block;
        text-align: center;
        
    /* Alineo las listas en el nav para me quede una al lado de la otra */
    
    a{
        
        text-decoration: none;
        color: white;
        padding: 20px;
        display: block;
        overflow: hidden;
    
    }    
        }
    }
    a:hover{
        background-color: blueviolet;
    }




/*  Le pongo un hover a la lista para que me de color cuando paso el mouse*/

/* Formato a sublistas */
.sublista {
    display: none;
    position: absolute;
    background-color:rgba(235, 0, 235, 0.767);
    color: white;
    padding: 0%;
} 
.sublista li{
    padding: 19px 0 20px 0;
  
  justify-content: left;
}
/* Le doy un formato a la sublista para que pueda mostrarse cuando pasa el cursor */
.inicio:hover > .sublista{
    display: grid;
}