/* Lo posiciono al logo para que quede fijo igual que la lista */
.logo{
    position: fixed;
    top: 0px;
}
/* Le doy formato a la lista del nav dandole paddig- width- margin- border-position- */
.lista{
    list-style: none;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background: violet;
    width: auto;
    margin-top: 0px;
    margin-left: 65px;
    margin-bottom: 5px;
    margin-right: 0px;
    border: solid 1px black;
    position: fixed;
    top: 0px;

}
/* A las listas le doy por separado un formato */
.lista li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    overflow: hidden;
}
/* Alineo las listas en el nav para me quede una al lado de la otra */
.lista li{
    display: inline-block;
    text-align: center;
}
/*  Le pongo un hover a la lista para que me de color cuando paso el mouse*/
.lista li a:hover{
    background:blue;
}
/* Formato a sublistas */
.sublista{
    display: none;
    position: absolute;
    background-color:thistle;
    color: white;
} 
/* Le doy un formato a la sublista para que pueda mostrarse cuando pasa el cursor */
.inicio:hover > .sublista{
    display: grid;
}