
/* --------------SeccionNosotros--------------- */
.grid__template--areas{
    display: grid;
    grid-template-areas: 
"header header"
"section aside"
"section aside"
"section aside"
"section aside"
"foto foto"
"footer footer";
}



.header__nosotros--grid{
grid-area: header;
} 
.section__nosotros--grid{
    margin: 1fr;
    padding: 100px;
    grid-area:section ;
}
.aside__nosotros--grid{
    margin: 1fr;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: aside;
}

.imagen__nosotros{
    grid-area: foto;
    text-align: center;
    background-color: violet;
}

.footer__nosotros--grid{
    grid-area: footer;
    
}


