
/* --------------SeccionNosotros--------------- */
#titulo__pagina--h1{
        height: 0px;
        padding: 80px;
        margin: 0px;
        background-color: #ff73ce;
        text-align: center;
    }

.grid__template--areas{
    display: grid;
    grid-template-areas: 
"header"
"section"
"section"
"section"
"foto"
"footer";
}

.header__nosotros--grid{
grid-area: header;
} 
.section__nosotros--grid{
    margin-left: 140px;
    padding: 20px;
    grid-area:section;

}

.imagenObjetivo:hover{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    }
.imagenVisionMundo:hover {
-webkit-transform: rotateY(280deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(280deg);
transform-style: preserve-3d;
}
.valores_foto:hover { border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    }
.foto__valores:hover {filter: grayscale(80%);}


.imagen__nosotros{
    grid-area: foto;
    text-align: center;
    background-color: violet;
}

.footer__nosotros--grid{
    grid-area: footer;
    
}


