*{
    padding: 0;
    box-sizing: border-box;

}
.form__turnos--inicio{
    width: 500px;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    background-color: rgb(197, 0, 197);
    text-transform: uppercase;
}
.subtitulo__h2--turnos{
    text-align: center;
    background-color: white;
    color: tomato;  
    }



.controles{
    
    background-color:white;
    color:rgb(82, 0, 82);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
   
}