.bodyCovid19{
    /* Le agrego una gradiente al fondo */
    background-image: linear-gradient(rgba(37, 0, 23, 0.123), rgba(255, 0, 170, 0.918));
    
    /* Ordeno con un templateGridAreas */
    display: grid;
    grid-template-areas: 
    "encabezado encabezado encabezado"
    "principal principal informacion"
    "principal principal informacion"
    "pieDePagina pieDePagina pieDePagina"
    ;
    grid-template-rows: 75px 1fr 75px auto; 
    grid-template-columns: 10% auto 10%;
    grid-column-gap: 5px;
    grid-row-gap: 3px;
    justify-content: center;
}

.headerCovid19{
    grid-area: encabezado;
}

.mainCovid19{
    grid-area: principal;

}

/* transicion de imagen covid */
.imageCovid19{

    transition: all 10s;       

    width: 550px;
    font-size: 550px; 
}
/* Formato de imagen covid19 */
.imageCovid19{
    width: 200px;
    height: 200px;
    border: solid 1px;
} 
.imageCovid19:hover {
    padding: 20px;
    transform: skewY(25deg)
}

/* pongo una transicion al titulo */
.tituloCovid19:hover{
    background-color:midnightblue;
    color: red;

}
/* Este es el aside y le coloco una animacion */
.asideCovid19{
    grid-area: informacion;
    width: auto;
    height: auto;
    animation: cambioDeColor 4s infinite;
    background-color: rgb(255, 0, 106);

}
@keyframes cambioDeColor {
0% {
    transform: scale(0);
}  

100%{
    transform: scale(1.1);
}
}

/* Este es el footer de covid19 y el agrego una animacion en el html */
.footerCovid19{
    grid-area: pieDePagina;
    
}