/* este es el head */
.contenedorEspecialistas{
    width: 650px;
    height: auto;
    padding: 70px;
    margin: 30px;
    overflow: hidden;
    border:double;
    background-color: violet;
    }
    
    .acordeon{
    color: blueviolet;
    }
    
    .section__boostrap--especialistas{
        background-color: aqua;
        width: auto;
        height: auto;
    }
    
   