/* footer de index */
.footerDeIndex{
    width: 1000px;
    height: 50px;
    padding: 50px;
    margin: 10px;
    background-color: rgba(204, 3, 160, 0.884);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    border-width: 20px;
}